@import "../../styles/colors.scss";

.podcast {
  background: $backgroundPodcast;
  box-shadow: 5px 5px 5px #9f9f9f;
  border-radius: 4px;
  width: 250px;
  transition: all 0.3s ease-out;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image {
    border-radius: 50%;
    margin-top: -40px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    h4 {
      text-transform: uppercase;
    }
    p {
      color: $alternativeText;
    }
  }
  &:hover {
    transform: translate(0, -10px);
  }
}
